* {
    box-sizing: border-box;
}

/* Font weights:
Montserrat:  400(Regular), 500(Medium) and 700(Bold) 
Roboto: 400(Regular) and 700(Bold)*/

body {
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #e4efe0;
}

/* HEADER AREA */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-image {
    position: absolute;
    z-index: -1;
    height: 66%;
    width: 100%;
    opacity: 0.5;
    object-fit: cover;
}

.socialmedia-icon-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
    margin-left: 180px;
    margin-bottom: 20px;
}

.sm-icon-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 3px solid #f8a72e; */
    background: #f8a72e;
    margin-top: 20px;
    padding: 20px;
    object-fit: contain;
    margin-right: 10px;   
}

.sm-icon {
    width: 25px;
    height: 25px;
    margin-left: -15px;
    margin-top: -10px;
}

.header-text {
    color: #1f251f;
}

.header-title {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.portfolio {
    font-weight: 400;
    margin-right: 20px;
}

.name {
    font-weight: 700;
}

.headertext-one {
    width: 210px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.headertext-two {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
}

.profile-image-container {
    margin-top: 50px;
}

.profile-image {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    border: 3px solid #f8a72e;
    margin-left: 150px;
    margin-top: -50px;
    object-fit: contain;
}

/* SUMMARY SECTION */
.summary-container {
    display: flex;
    align-items: center;
    padding: 20px 20px 40px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    background: #e4efe0;
    color: #1f251f;
    line-height: 2;
}

.cylinder {
    width: 40px;
    height: 3px;
    border-radius: 10px;
    background: #f8a72e;
    display: inline-block;
    margin-bottom: 5px;   
}

.circle {
    width: 12px;
    height: 12px;
    background: #f8a72e;
    border-radius: 50%;
    display: inline-block;
}

/* TECH SECTION */
.tech-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
    background: #fff;
}

.main-title {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    background: #f8a72e;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
}

.main-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1f251f;
    line-height: 2;
}

/* PROJECT SECTION */

main {
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px 10px;
    text-align: center;
    background: #e4efe0;
}

.project-container a {
    text-decoration: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 300px;
}

.image-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 172%;
    transform: translateY(-50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background: rgb(31, 37, 31, .5);
    color: #fff;
    width: 200px;
    padding: 10px 5px;
}

.project-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.project-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
    color: #1f251f;
    margin-bottom: 0;
    line-height: 2;
}

.project-text:hover {
    text-decoration: underline;
}

.text-description {
    color: #f8a72e;
    font-weight: 700;
    line-height: 2;
}

.small-tags {
    display: flex;
    flex-wrap: wrap;
}

.small-tags p {
    background: white;
    padding: 5px; 
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-right: 13px;
    margin-top: 15px;
}

/* ARTICLE SECTION */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: #fff;
    margin: 0;
    width: 100%;
}

.thoughts-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 300px;
}

.thoughts-date {
    font-family: 'Roboto', sans-serif;
    color: #f8a72e;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
}

.thoughts-title {
    font-family: 'Roboto', sans-serif;
    color: #1f251f;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
    text-align: justify;
}

.thoughts-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1f251f;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 2;
}

.other-thoughts-div {
    padding: 10px 0;
}

/* SKILLS SECTION */

.skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: #e4efe0;
    margin: 0;
}

.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.skills-card {
    text-align: center;
    margin-left: 10px;
    width: 150px
}

.skills-card h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #f8a72e;
    margin-bottom: 3px;
}

.skills-card p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1f251f;
    margin: 5px 0;
}

/* FOR MORE SECTION */

.formore-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: #fff;
    margin: 0;
}

.formore-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.icon-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color:  #f8a72e;
}

.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 3px solid #f8a72e; */
    background: #f8a72e;
    margin-top: 10px;
    padding: 20px;
    object-fit: contain;  
}

.sm-icon {
    width: 25px;
    height: 25px;
    margin-left: -10px;
    margin-top: -11px;
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    background: #e4efe0;
    margin: 0;
    color: #1f251f;
}

.main-title-footer {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    margin: 10px 0;
}

.footer-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
}



