* {
    box-sizing: border-box;
}

/* Font weights:
Montserrat:  400(Regular), 500(Medium) and 700(Bold) 
Roboto: 400(Regular) and 700(Bold)*/

body {
    margin: 0 auto;
    width: 100%;
    background: #e4efe0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER AREA */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hero-image {
    background-image: linear-gradient(rgba(228, 239, 224, 0.1), rgba(228, 239, 224, 1)), url("assets/Leaves-background.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.socialmedia-icon-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 50px;
    margin-left: 155px;
    margin-bottom: 20px;
}

.sm-icon-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 3px solid #f8a72e; */
    background: #f8a72e;
    margin-top: 20px;
    padding: 20px;
    object-fit: contain;
    margin-right: 10px;   
}

.sm-icon {
    width: 25px;
    height: 25px;
    margin-left: -10px;
    margin-top: -11px;
}

.header-text {
    color: #1f251f;
}

.header-title {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.portfolio {
    font-weight: 400;
    margin-right: 20px;
}

.name {
    font-weight: 700;
}

.headertext-one {
    width: 210px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
}

.headertext-two {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 5px;
}

.profile-image-container {
    margin-top: 50px;
}

.profile-image {
    width: 162px;
    height: 162px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin-left: 140px;
    margin-top: -50px;
    object-fit: contain;
}

/* SUMMARY SECTION */
.summary-container {
    width: 100%;
    background: #e4efe0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.summary-container p {
    font-family: 'Montserrat', sans-serif;
    color: #1f251f;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    line-height: 2;
}

.cylinder {
    width: 40px;
    height: 3px;
    border-radius: 10px;
    background: #f8a72e;
    display: inline-block;
    margin-bottom: 5px;   
}

.circle {
    width: 12px;
    height: 12px;
    background: #f8a72e;
    border-radius: 50%;
    display: inline-block;
}

/* TECH SECTION */

.tech-container {
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.tech-details {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.main-title {
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 700;
    background: #f8a72e;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    text-align: center;
}

.main-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1f251f;
    line-height: 2;
}

/* PROJECT SECTION */
.project-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background: #e4efe0;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.project-card a {
    text-decoration: none;
}

.image-container {
    position: relative;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.image-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 100%;
    height: 100%;
    background:rgba(129, 129, 129, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* .image:after {
    content: "";
    background: rgb(10, 10, 10, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
} */

.project-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: justify;
    font-weight: 400;
    color: #1f251f;
    margin-bottom: 0;
    line-height: 2;
}

.project-text:hover {
    text-decoration: underline;
}

.text-highlight {
    color: #f8a72e;
    font-weight: 700;
    line-height: 2;
}

.small-tags {
    display: flex;
    flex-wrap: wrap;
}

.small-tags p {
    background: white;
    padding: 5px; 
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-right: 13px;
    margin-top: 15px;
}

/* MY THOUGHTS SECTION */

article {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
    background: #fff;
}

.thoughts-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.thoughts-date {
    color: #f8a72e;
    font-weight: 400;
    margin-bottom: 0;
}

.thoughts-title {
    color: #1f251f;
    font-weight: 700;
    margin: 10px 0;
    text-align: justify;
}

.thoughts-text {
    font-weight: 400;
    color: #1f251f;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 2;
}

/* SKILLS SECTION */

.skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background: #e4efe0;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-card {
    width: 150px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.skills-card h4 {
    font-weight: 700;
    color: #f8a72e;
    margin-bottom: 3px;
}

.skills-card p {
    font-weight: 400;
    color: #1f251f;
    margin: 5px 0;
}

/* FOR MORE SECTION */

.formore-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background: #fff;
}

.formore-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.icon-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color:  #f8a72e;
}

.icon-circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* border: 3px solid #f8a72e; */
    background: #f8a72e;
    margin-top: 10px;
    padding: 20px;
    object-fit: contain;  
}

.sm-icon-foremore {
    width: 25px;
    height: 25px;
    margin-left: -10px;
    margin-top: -11px;
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background: #e4efe0;
}

footer div {
    width: 80%;
    margin: 0 auto;
    color: #1f251f;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.main-title-footer {
    font-size: 22px;
    font-weight: 700;
}

.footer-name {
    font-size: 18px;
    font-weight: 700;
}

footer p {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0;
}